#about_me {
  grid-area: aboutpage;
  display: grid;
  grid-template-rows: 120px 1fr;
}

#about_me #content-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 10px;
}
