#projects {
  grid-area: projpage;
}

#project-page-container {
  display: grid;
  grid-template-columns: 1503.2px;
  grid-template-rows: 20% auto;
  grid-template-areas:
    "ptitle"
    "pcontent";
}

#project-page-container #title {
  grid-area: ptitle;
  height: 152.8px;
  text-transform: uppercase;
  padding: 50px 0px 0px 80px;
  font-size: 30px;
}

#project-page-container #content {
  grid-area: pcontent;
  height: 611.2px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

#project-page-container #content #top-projs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  font-size: 30px;
  justify-items: center;
}

#project-page-container #content #project-area {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
}

#project-page-container #content #project-area .cards {
  margin: 20px;
  border-radius: 20px;
}

#project-page-container .cards {
  background-color: rgba(255, 195, 92, 0.678);
  display: grid;
  grid-template-rows: 85% 15%;
}

#project-page-container .cards:hover {
  box-shadow: 0 0 12px rgb(255, 255, 255);
  background-color: #d2b48c;
  transition: background-color 0.2s ease-in-out;
}

#project-page-container #project1 img {
  width: 300px;
  padding: 60px 0px 0px 85px;
}

.proj-btn {
  font-size: 20px;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin: 10px 0 0 160px;
  border: none;
}

.proj-btn:hover {
  box-shadow: 0 0 12px #d2b48c;
}

.proj-btn:active {
  background-color: #b99976;
}
