/* ------------------------------------------ Overall Style ------------------------------------------ */

@font-face {
  font-family: proxima-sans-serif;
  src: url("../fonts/Proxima\ Nova\ Font.otf");
}

html {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  font-family: proxima-sans-serif;
  background: rgb(31, 193, 223);
  background: linear-gradient(
    180deg,
    rgba(31, 193, 223, 1) 0%,
    rgba(0, 0, 92, 1) 24%,
    rgba(0, 0, 92, 1) 76%,
    rgba(31, 193, 223, 1) 100%
  );
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "intropage"
    "projpage"
    "aboutpage"
    "contactpage";
}

nav {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "log navbar";
  position: fixed;
}

#btn-container {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr;
  grid-template-areas: ". in pr ab co";
  justify-items: center;
  font-size: calc(1.5vw);
  padding: 1.5vw;
}

#i-btn {
  grid-area: in;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#p-btn {
  grid-area: pr;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#a-btn {
  grid-area: ab;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#c-btn {
  grid-area: co;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}

.btn::after {
  content: "";
  position: absolute;
  background: rgb(0, 255, 85);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1vw;
  opacity: 0;
  transition: 0.4s ease-out;
}

.btn:hover::after {
  opacity: 1;
  transition: ease-in-out;
}

.page {
  min-height: 100vh;
}

#logo img {
  width: 5vw;
}

@media only screen and (max-width: 48em){
  nav{
    grid-template-columns: 1fr 4fr;
  }
  
  #btn-container{
    font-size: 4vw;
    
  }

  #logo img{
    width: 9vw;
    padding: 1vh 0 0 2vw;
  }


}

/* ------------------------------------------ End of Overall Style ------------------------------------------ */

/* ------------------------------------------ Start of Intro Style ------------------------------------------ */

#intro {
  grid-area: intropage;
  padding: 0 30vw 0 10vw;
  background: rgb(31, 193, 223);
  background: linear-gradient(
    180deg,
    rgba(31, 193, 223, 1) 0%,
    rgba(0, 0, 92, 1) 39%
  );
}

#intro #content {
  margin: 20vh 0 0 0;
}

#intro #nem {
  font-size: 2vw;
  padding: 1vw 0 0 0;
  margin: 0;
}

#intro #content {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

#intro #content h1 {
  font-size: 7vw;
}

#intro #q1 {
  margin: 0px;
  margin-bottom: 0px;
}

#intro #q2 {
  margin: 0px;

  color: #00005c;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #fffafa;
}
#intro #info {
  margin: 0%;
  font-size: 1vw;
}

@media only screen and (max-width: 400px){
  #intro {
    padding: 0 0vw 0 20vw;
    background: rgb(31, 193, 223);
    background: linear-gradient(
      180deg,
      rgba(31, 193, 223, 1) 0%,
      rgba(0, 0, 92, 1) 39%
    );
  }
  #intro-container{
    writing-mode: vertical-rl;
  }

  #intro #content h1{
    text-orientation: mixed;
    font-size: 20vw;;
  }
  
  #intro #content{
    margin: 5vw 0 0 0;
  }

  #intro #nem {
    font-size: 6vw;
    padding: 1vw 0 0 0;
    margin: 0;
  }

  #intro #info {
    font-size: 3vw;
  }
}

/* ------------------------------------------ End of Intro Style ------------------------------------------ */

/* ------------------------------------------ Start of Project Style ------------------------------------------ */

#projects {
  grid-area: projpage;
}

#project-page-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "pcontent";
}

#project-page-container #content {
  grid-area: pcontent;
  height: 611.2px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

#project-page-container #top-projs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  font-size: 2vw;
  justify-items: center;
  color: #00005c;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #fffafa;
}

#project-page-container #project-area {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
}

#project-area .cards {
  margin: 1.5vw;
  height: 60vh;
  border-radius: 20px;
  background-color: #1fc1df;
  display: grid;
  grid-template-rows: 85% 15%;
}

#project-page-container .cards:hover {
  box-shadow: 0 0 12px rgb(255, 255, 255);
  background-color: #06ffff;
  transition: background-color 0.2s ease-in-out;
}

#project1 img {
  width: 19vw;
  padding: 3vw 0px 0px 5.7vw;
}

#project2 img {
  width: 19vw;
  padding: 3vw 0px 0px 5.2vw;
}

#project3 img {
  width: 19vw;
  padding: 4.5vw 0px 0px 5vw;
}

#project1-btn {
  position: relative;
  font-size: 1.3vw;
  border-radius: 30px;
  height: 6.7vh;
  width: 15vw;
  margin: 0.1vw 0 0 7.3vw;
  border: none;
}

#project2-btn {
  position: relative;
  font-size: 1.3vw;
  border-radius: 30px;
  height: 6.7vh;
  width: 15vw;
  margin: 0.1vw 0 0 7.3vw;
  border: none;
}

#project3-btn {
  position: relative;
  font-size: 1.3vw;
  border-radius: 30px;
  height: 6.7vh;
  width: 10vw;
  margin: 0.1vw 0 0 9.6vw;
  border: none;
}

.proj-btn {
  background-color: #00005c;
  color: #00005c;
}

.proj-btn:hover {
  box-shadow: 0 0 12px #000000;
  color: #fffafa;
}

.proj-btn:active {
  background-color: #1fc1df;
}

/* ------------------------------------------ End of Project Style ------------------------------------------ */

/* ------------------------------------------ Start of About Me Style ------------------------------------------ */

#about_me {
  grid-area: aboutpage;
}

#about_me #content-container {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 100%;
  grid-template-areas: "txts me";
}

#about_me #txt-content {
  grid-area: txts;
  display: grid;
  height: 100%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "resume"
    "iam";
}

#resume-area {
  grid-area: resume;
  display: flex;
  padding: 2vw 0 0 7vw;
}

#resume-area h2 {
  font-size: 1.5vw;
}

#rb-area {
  padding: 1vh 0 0 0;
}

#resume-btn {
  position: relative;
  font-size: 1vw;
  border-radius: 3vw;
  height: 3vw;
  width: 12vw;
  border: none;
  padding: 0 0 0 0;
  background-color: #00005c;
  color: #00005c;
}

#resume-btn:hover {
  box-shadow: 0 0 12px #000000;
  color: #fffafa;
}

#info-area {
  grid-area: iam;
  font-size: 2vw;
  font-weight: 1vw;
  padding: 0 0 0 5vw;
}

#about_me #img-content {
  grid-area: me;
  display: grid;
  padding: 4vh 5vw 0 0;
  grid-template-rows: 65vh;
  grid-template-areas:
    "picko"
    "name";
}

#about_me #picture {
  grid-area: picko;
  height: 100%;
  padding: 2vw 0 0 2vw;
  background-color: #bebf79;
}

#img-content #nem {
  grid-area: name;
  font-size: 2vw;
  padding: 0 0 0 6.5vw;
}

#about_me #picture img {
  width: 39vw;
}

/* ------------------------------------------ End of About Me Style ------------------------------------------ */

/* ------------------------------------------ Start of Contact Style ------------------------------------------ */

#contacts {
  grid-area: contactpage;

  width: 100%;
  background: rgb(0, 0, 92);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 92, 1) 61%,
    rgba(31, 193, 223, 1) 100%
  );
}

#contact-page-container {
  padding: 15vw 0 0 35vw;
}

#message {
  display: grid;
  grid-template-rows: 15vh 20vh 1vh;
  gap: 5vh;
}

#sender-info {
  display: grid;
  grid-template-rows: 5vh 5vh 5vh;
  gap: 2vh;
}

#sender-info input[type="text"] {
  width: 30vw;
  border-radius: 50px;
  height: 4vh;
}

#mess-area #message {
  border-radius: 15px;
  width: 30vw;
}

#submit-btn {
  padding: 1vw 0 0 9vw;
}

#submit {
  position: relative;
  font-size: 1vw;
  border-radius: 3vw;
  height: 3vw;
  width: 12vw;
  border: none;
  padding: 0 0 0 0;
  background-color: #00005c;
  color: #ffffff;
}

#submit:hover {
  box-shadow: 0 0 12px #000000;
  background-color: #1fc1df;
  color: #ffffff;
}

/* ------------------------------------------ End of Contact Style ------------------------------------------ */

/* ------------------------------------------ Start of Footer Style ------------------------------------------ */
footer {
  margin: 0 0 0 0;
  background: rgba(31, 193, 223, 1);
}

#footer-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3vh;
  grid-template-areas: "ftxt ficon";
}

#ftxt-container {
  grid-area: ftxt;
  font-size: 1.2vw;
  padding: 0 0 0 3vw;
}

#icon-container {
  grid-area: ficon;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
}
.icn img {
  width: 2vw;
  margin: 0 5vw 0 5vw;
}
