/* ------------------------------------------ Overall Style ------------------------------------------ */

@font-face {
  font-family: proxima-sans-serif;
  src: url("../fonts/Proxima\ Nova\ Font.otf");
}

html {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  font-family: proxima-sans-serif;
  background: rgb(31, 193, 223);
  background: linear-gradient(
    180deg,
    rgba(31, 193, 223, 1) 0%,
    rgba(0, 0, 92, 1) 24%,
    rgba(0, 0, 92, 1) 76%,
    rgba(31, 193, 223, 1) 100%
  );
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "intropage"
    "projpage"
    "aboutpage"
    "contactpage";
}

nav {
  display: grid;
  width: 100vw;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 100%;
  grid-template-areas: "log navbar";
  position: fixed;
}

#btn-container {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 15% 25% 20% 20% 20%;
  grid-template-areas: ". in pr ab co";
  justify-items: center;
  font-size: 20px;
  padding: 20px;
}

#i-btn {
  grid-area: in;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#p-btn {
  grid-area: pr;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#a-btn {
  grid-area: ab;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}
#c-btn {
  grid-area: co;
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
}

.btn::after {
  content: "";
  position: absolute;
  background: rgb(0, 255, 85);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: 0.4s ease;
}

.btn:hover::after {
  opacity: 1;
  transition: ease-in-out;
}

.page {
  min-height: 100vh;
}

#logo img {
  width: 80px;
}

/* ------------------------------------------ End of Overall Style ------------------------------------------ */

/* ------------------------------------------ Start of Intro Style ------------------------------------------ */

#intro {
  grid-area: intropage;
  padding: 0 30vw 0 10vw;
  background: rgb(31, 193, 223);
  background: linear-gradient(
    180deg,
    rgba(31, 193, 223, 1) 0%,
    rgba(0, 0, 92, 1) 39%
  );
}

#intro #content {
  margin: 20vh 0 0 0;
}

#intro #nem {
  font-size: 2vw;
  padding: 1vw 0 0 0;
  margin: 0;
}

#intro #content {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

#intro #content h1 {
  font-size: 7vw;
}

#intro #q1 {
  margin: 0px;
  margin-bottom: 0px;
}

#intro #q2 {
  margin: 0px;

  color: #00005c;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #fffafa;
}
#intro #info {
  margin: 0%;
  font-size: 1vw;
}

/* ------------------------------------------ End of Intro Style ------------------------------------------ */

/* ------------------------------------------ Start of Project Style ------------------------------------------ */

#projects {
  grid-area: projpage;
}

#project-page-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "pcontent";
}

#project-page-container #content {
  grid-area: pcontent;
  height: 611.2px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

#project-page-container #content #top-projs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  font-size: 30px;
  justify-items: center;
  color: #00005c;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #fffafa;
  text-decoration-line: underline;
  text-decoration: wavy;
  text-decoration-color: white;
}

#project-page-container #content #project-area {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
}

#project-page-container #content #project-area .cards {
  margin: 20px;
  border-radius: 20px;
}

#project-page-container .cards {
  background-color: #1fc1df;
  display: grid;
  grid-template-rows: 85% 15%;
}

#project-page-container .cards:hover {
  box-shadow: 0 0 12px rgb(255, 255, 255);
  background-color: #06ffff;
  transition: background-color 0.2s ease-in-out;
}

#project-page-container #project1 img {
  width: 300px;
  padding: 60px 0px 0px 85px;
}

#project-page-container #project2 img {
  width: 300px;
  padding: 50px 0px 0px 80px;
}

#project-page-container #project3 img {
  width: 300px;
  padding: 100px 0px 0px 90px;
}

#project1-btn {
  position: relative;
  font-size: 20px;
  border-radius: 30px;
  height: 50px;
  width: 250px;
  margin: 10px 0 0 110px;
  border: none;
}

#project2-btn {
  position: relative;
  font-size: 20px;
  border-radius: 30px;
  height: 50px;
  width: 250px;
  margin: 10px 0 0 100px;
  border: none;
}

#project3-btn {
  position: relative;
  font-size: 20px;
  border-radius: 30px;
  height: 50px;
  width: 160px;
  margin: 10px 0 0 155px;
  border: none;
}

.proj-btn {
  background-color: #00005c;
  color: #00005c;
}

.proj-btn:hover {
  box-shadow: 0 0 12px #000000;
  color: #fffafa;
}

.proj-btn:active {
  background-color: #1fc1df;
}

/* ------------------------------------------ End of Project Style ------------------------------------------ */

/* ------------------------------------------ Start of About Me Style ------------------------------------------ */

#about_me {
  grid-area: aboutpage;
}

#about_me #content-container {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 100%;
  grid-template-areas: "txts me";
}

#about_me #txt-content {
  grid-area: txts;
  display: grid;
  height: 100%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "resume"
    "iam";
}

#resume-area {
  grid-area: resume;
  display: flex;
  padding: 2vw 0 0 7vw;
}

#resume-area h2 {
  font-size: 1.5vw;
}

#rb-area {
  padding: 1vh 0 0 0;
}

#resume-btn {
  position: relative;
  font-size: 1vw;
  border-radius: 3vw;
  height: 3vw;
  width: 12vw;
  border: none;
  padding: 0 0 0 0;
  background-color: #00005c;
  color: #00005c;
}

#resume-btn:hover {
  box-shadow: 0 0 12px #000000;
  color: #fffafa;
}

#info-area {
  grid-area: iam;
  font-size: 2vw;
  font-weight: 1vw;
  padding: 0 0 0 5vw;
}

#about_me #img-content {
  grid-area: me;
  display: grid;
  padding: 4vh 5vw 0 0;
  grid-template-rows: 65vh;
  grid-template-areas:
    "picko"
    "name";
}

#about_me #picture {
  grid-area: picko;
  height: 100%;
  padding: 2vw 0 0 2vw;
  background-color: #bebf79;
}

#img-content #nem {
  grid-area: name;
  font-size: 2vw;
  padding: 0 0 0 6.5vw;
}

#about_me #picture img {
  width: 39vw;
}

/* ------------------------------------------ End of About Me Style ------------------------------------------ */

/* ------------------------------------------ Start of Contact Style ------------------------------------------ */

#contacts {
  grid-area: contactpage;

  width: 100%;
  background: rgb(0, 0, 92);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 92, 1) 61%,
    rgba(31, 193, 223, 1) 100%
  );
}

#contact-page-container {
  padding: 15vw 0 0 20vw;
}

#message {
  display: grid;
  grid-template-rows: 15vh 20vh 1vh;
}

#sender-info{
  display: grid;
  grid-template-rows: 5vh 5vh 5vh;
}

#sender-info input[type="text"]{
  width: 55vw;
}



/* ------------------------------------------ End of Contact Style ------------------------------------------ */


footer {
  margin: 0 0 0 0;
  background: rgba(31, 193, 223, 1);
}

#footer-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3vh;
  grid-template-areas: "ftxt ficon";
}

#ftxt-container {
  grid-area: ftxt;
  padding: 0 0 0 50px;
}

#icon-container {
  grid-area: ficon;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
}
.icn img {
  width: 30px;
  margin: 0 80px 0 80px;
}