body{
  background-color: black;
}
nav {
  justify-content: space-between;
  position: fixed;
  right: 30px;
  top: 5px;
  
}
a{
  
  text-decoration: none;
  color: rgb(255, 252, 252);
  font-size: 30px;
}

a:hover {
  text-shadow: 0 0 10px #00ff11, 0 0 20px #00ff2a, 0 0 42px rgb(0, 255, 34),
    0 0 82px rgb(0, 255, 60), 0 0 92px rgb(0, 255, 110);
    
}

.page {
  height: 100vh;
}

#home {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 42px rgb(0, 255, 34),
    0 0 82px rgb(0, 255, 60), 0 0 92px rgb(0, 255, 110);
  color: rgb(0, 0, 0);
}

#project {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 42px rgb(0, 255, 34),
    0 0 82px rgb(0, 255, 60), 0 0 92px rgb(0, 255, 110);
  color: rgb(0, 0, 0);
}

#about {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 42px rgb(0, 255, 34),
    0 0 82px rgb(0, 255, 60), 0 0 92px rgb(0, 255, 110);
  color: rgb(0, 0, 0);
}

#contact {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 42px rgb(0, 255, 34),
    0 0 82px rgb(0, 255, 60), 0 0 92px rgb(0, 255, 110);
  color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
  max-height: 300px
  
}
